---
- name: configure network sources
  become: yes
  template:
    src: roles/network/templates/syncthing.list.j2
    dest: /etc/apt/sources.list.d/syncthing.list
    owner: root
    group: root

- name: ensure network gpg keys are in place
  become: yes
  apt_key:
    url: https://syncthing.net/release-key.txt
    validate_certs: no
